/* ===============================================
   Breakpoint
   =============================================== */

// These breakpoints will be used for the mixin/breakpoint and also in the base/bootstrap/config to define the Bootstrap grid
$breakpoints: (
    xs: 0,
    sm: 480px,
    md: 768px,
    lg: 980px,
);
