/* ===============================================
   Colors
   =============================================== */

// available colors (chir.ag/projects/name-that-color/)
// format:
// color--generated-name

$red--carnation: #fd5454;
$red--carnation--light: lighten($red--carnation, 7%);
$green--conifer: #7bdb4c;
$grey--juniper: #789199;
$grey--abbey: #555d60;
$grey--gray: #8E8E8E; //ghe ghe ^^
$grey--mercury: #e6e6e6;
