/* ===============================================
   Icons
   =============================================== */

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;

    // firefox fill bug https://stackoverflow.com/a/27872310
    use > svg {
        fill: currentColor;
    }
}
