/**
    Reset all the browser defaults
*/

@import '../../../node_modules/sanitize.css/sanitize';

/* ===============================================
General
Most of the defaults are already in sanitize
=============================================== */

nav ol,
nav ul {
    margin-bottom: 0;
    padding-left: 0;
}

img {
    height: auto;
    max-width: 100%;
}

::selection {
    // background: map-get-deep($typo, 'selection', 'background');
    // color: map-get-deep($typo, 'selection', 'text-color');
}

::-ms-clear {
    display: none;
}

table {
    width: 100%;
}

td {
    vertical-align: top;
    padding: 0;
}

th {
    text-align: left;
}

// Default button element reset
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
button {
    border-radius: 0;
}

button {
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}
