/* ===============================================
   Typography
   =============================================== */

// Single-direction margin declarations
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dd,
p,
figure,
blockquote,
pre,
table,
fieldset,
hr {
    margin: 0;
}

html {
    // more readable values (10px = 1rem)
    font-size: 0.625rem;
}

body {
    @include font-sizes('base');
    font-family: $font_lato;
    line-height: map-get-deep($typo, 'line-height', 'text');
    color: #000000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Loop through all the header elements: h1 until h6
@for $i from 1 through 6 {
    h#{$i} {
        @include font-sizes('h#{$i}');
        @include distances('small');

        line-height: map-get-deep($typo, 'line-height', 'head');
        font-weight: 800;
    }
}

// Generate classes to decouple the size from the html-elements
// We explicitly define them below all the header-elements, to make it possible to overwrite an element style with a class
//
// Example: <h1 class="h3">Title</h1>
//
// This is useful so we can write symantically correct HTML, but with other styling
@for $i from 1 through 6 {
    .h#{$i} {
        @include font-sizes('h#{$i}');
        @include distances('small');

        line-height: map-get-deep($typo, 'line-height', 'head');
        font-weight: 800;
    }
}

p {
    //TODO distances
    margin-bottom: 20px;

    @include breakpoint('sm') {
        margin-bottom: 30px;
    }

    @include breakpoint('md') {
        margin-bottom: 35px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

strong {
    font-weight: map-get-deep($typo, 'weight', 'bold');
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 200ms ease-in-out;
    
    &:hover {
        color: $red--carnation;
    }
}
