<template>
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contact__header-container">
                        <h2 class="contact__header">We would love to hear from you</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12  col-md-10  offset-md-1  col-lg-8  offset-lg-2">

                    <ContactForm />

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ContactForm from '@/components/organisms/ContactForm';

    export default {
        name: 'Contact',
        components: {
            ContactForm,
        },
    };
</script>

<style scoped lang="scss">
    .contact {
        @include distances('large', 'padding', 'top');
        @include distances('xxlarge', 'padding', 'bottom');

        background: url('/static/img/instagram-bg.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;

        min-height: calc(100vh - 80px - 99px);
    }

    .contact__header-container {
        display: flex;
        justify-content: center;
    }

    .contact__header {
        @include distances('medium');

        text-transform: uppercase;
        color: #fff;
        max-width: 230px;
        text-align: center;

        @include breakpoint('sm') {
            max-width: 400px;
        }
    }
</style>
