<template>
    <div>
        <Slider/>

        <Content
            :title="title"
            :text="introduction" />

        <InstagramFeed />

    </div>
</template>

<script>
    import Button from '@/components/atoms/Button';
    import Content from '@/components/organisms/Content';
    import Slider from '@/components/organisms/Slider';
    import InstagramFeed from '@/components/organisms/InstagramFeed';

    export default {
        name: 'Home',
        components: {
            InstagramFeed,
            Button,
            Content,
            Slider,
        },
        data() {
            return {
                title: 'we are tam tam',
                introduction: 'Tam Tam is a full service digital agency focusing on Dutch Digital Service Design. We combine strategy, design, technology and interaction to make the digital interactions between company and customer valuable and memorable. We work for awesome brands with a team of 120 digitals from our office in Amsterdam. Making great work and having a blast doing it. That’s what we believe in.',
            };
        },
    };
</script>

<style scoped lang="scss">


</style>
