/* ===============================================
   Breakpoints

   TO DO: discuss breakpoint-foreach. For now removed.
   =============================================== */

/*
   Mixin: breakpoint

   Usage: breakpoint('sm');
   Usage: breakpoint('sm', 'md'); min-width/max-width
   Usage: breakpoint(400px, 1000px); // custom breakpoints
*/

@mixin breakpoint($min, $max: false) {
    $min-query: if(type-of($min) == 'string', map-get-deep($breakpoints, $min), $min);
    $max-query: if(type-of($max) == 'string', map-get-deep($breakpoints, $max), $max);

    @if $min-query and not $max-query {
        $query: inspect($min-query);

        @media (min-width: $query) {
            @content;
        }
    }

    @else if $min-query and $max-query {
        $min-query: inspect($min-query);
        $max-query: inspect($max-query - 1);

        @media (min-width: $min-query) and (max-width: $max-query) {
            @content;
        }
    }

    @else if not $min-query and $max-query {
        $query: inspect($max-query - 1);

        @media (max-width: $query) {
            @content;
        }
    }
}
