/*
    Mixin: distance
    Uses the distance variables list. /variables/_distance.scss

    Usage: distance('small', 'padding', 'left');
    Usage: distance('medium', 'margin');

    - - - - Nerd stuff - - - -
    Param: $distance-option - Uses the keys of $distance array (small/medium/large)
    Param: $property-base - Whatever property you would like (margin/padding/etc)
    Param: $property-direction - Enables a direction (false/top/right/bottom/left);
    Param: $distance-negative - Creates a negative distance (false/true)
*/

@mixin distances($distance-option: 'small', $property-base: 'margin', $property-direction: 'bottom', $distance-negative: false) {
    $distance-group: map-get-deep($distance, $distance-option);

    // Constructing the property
    $property: if($property-direction, $property-base + '-' + $property-direction, $property-base);

    $i: 0;

    // Loop through the breakpoint and print their property
    @each $breakpoint, $distance-setting in $distance-group {

        // Skip the first breakpoint
        @if ($i == 0) {
            #{$property}: if($distance-negative, -$distance-setting, $distance-setting);
        }

        // Print all remaining breakpoint
        @else {
            @include breakpoint($breakpoint) {
                #{$property}: if($distance-negative, -$distance-setting, $distance-setting);
            }
        }

        $i: $i + 1;
    }
}
