/* ===============================================
   Font sizes settings
   Converts px values to rem
   =============================================== */

// Discuss:
// - Removed line-height. Usually only set on body and heading, not per breakpoint different
// - Removed normalize-font-sizes, should not be necessary
// - Removed font-sizes-em
// - Fallback needed?

@mixin font-sizes($font-settings: 'base') {
    $font-group: map-get-deep($typo, $font-settings);

    $i:0;

    @each $breakpoint, $font-size in $font-group {

        // Skip the first breakpoint
        @if ($i == 0) {
            font-size: calculate-rem($font-size);
        }

        // Print all remaining breakpoint
        @else {
            @include breakpoint($breakpoint) {
                font-size: calculate-rem($font-size);
            }
        }

        $i: $i + 1;
    }
}
