@import 'settings';

body {
    overflow-x: hidden;

    //padding-top: for the navigation, since it's fixed positioned
    padding-top: $navigation_mobile-height;

    @include breakpoint('sm') {
        padding-top: $navigation_height;
    }

    &.navigation-open {
        overflow: hidden;
    }
}

// Hide elements before Vue is initialized
.v-cloak {
    display: none;
}
