<template>
    <Button
        :small="true"
        color="black"
        class="arrow-button"
        @click="$emit('click', $event)"
    >
        <svgicon
            :class="{'arrow-icon--flipped': flipped}"
            class="arrow-icon"
            icon="arrow"
            width="9"
            height="12"
        />
    </Button>
</template>

<script>
    import '@/compiled-icons/arrow';
    import Button from '@/components/atoms/Button';

    export default {
        name: 'ArrowButton',
        components: {
            Button,
        },
        props: {
            flipped: {
                type: Boolean,
                default: false,
            },
        },
    };
</script>

<style scoped lang="scss">

    .arrow-icon {
        position: relative;
        top: 1px;
    }

    .arrow-icon--flipped {
        transform: scaleX(-1);
    }

</style>
