<template>
    <button
        :class="[`button--${color}`, { 'button--small': small, 'button--disabled': disabled }]"
        class="button"
        @click.prevent="$emit('click', $event)">
        <slot />
    </button>
</template>

<script>
    export default {
        name: 'Button',
        props: {
            color: {
                type: String,
                default: 'red',
            },
            small: {
                type: Boolean,
                default: false,
            },
            disabled: {
                type: Boolean,
                default: false,
            },
        },
    };
</script>

<style scoped lang="scss">

    .button {
        @include font-sizes('small');

        font-family: $font_lato;
        display: inline-flex;
        padding: 7px 0 9px;
        min-width: 150px;
        color: #fff;
        border-radius: 40px;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: background-color 250ms ease-in-out;
    }

    .button--red {
        background-color: $red--carnation;

        &:hover {
            background-color: $red--carnation--light;
        }
    }

    .button--black {
        background-color: #000;

        &:hover {
            background-color: $red--carnation;
        }
    }

    .button--small {
        min-width: auto;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    .button--disabled {
        background-color: $grey--mercury;
        color: $grey--gray;
        opacity: 0.7;
        pointer-events: none;
    }

</style>
