<template>
    <div class="inputfield__container">
        <input
            v-validate="validation"
            v-model="model"
            :name="name"
            :placeholder="placeholder"
            class="inputfield"
            data-vv-delay="300"
            data-vv-validate-on="blur"
        >

        <svgicon
            v-show="fields[name]
                && fields[name].dirty
                && fields[name].valid
                && isRequired
            "
            class="valid-check"
            icon="check"
            width="24"
            height="19"
        />

        <transition name="fade">
            <div
                v-show="fields[name] && fields[name].dirty && errors.has(name)"
                class="error-message"
            >
                {{ errorMessage }}
            </div>
        </transition>
    </div>
</template>

<script>
    import '@/compiled-icons/check';

    export default {
        name: 'InputField',
        props: {
            name: {
                type: String,
                required: true,
            },
            placeholder: {
                type: String,
                required: true,
            },
            validation: {
                type: String,
                default: '',
                required: false,
            },
            errorMessage: {
                type: String,
                default: '',
                required: this.validation !== null,
            },
            value: {
                type: String,
                required: true,
            },
        },
        inject: ['parentValidator'],
        data() {
            return {
                model: this.value,
            };
        },
        computed: {
            isRequired() {
                return this.validation.includes('required');
            },
        },

        watch: {
            model(newVal) {
                this.$emit('input', newVal);
            },
        },
        created() {
            this.$validator = this.parentValidator;
        },
    };
</script>

<style scoped lang="scss">
    .inputfield__container {
        position: relative;
    }

    .inputfield {
        border: none;
        background-color: #fff;
        height: 50px;
        padding: 10px 45px 10px 20px;
        color: $grey--gray;
        font-size: 18px;
        font-weight: 100;
        width: 100%;
        transition: color 200ms ease-in-out;

        &:hover,
        &:focus {
            color: #000;

            &::placeholder {
                color: #000;
            }
        }
    }

    .error-message {
        position: relative;
        display: flex;
        align-items: center;
        height: 40px;
        padding: 15px 20px;
        color: #fff;
        background-color: $grey--abbey;
        font-size: 15px;
        font-weight: 100;
        line-height: 1;

        &:before {
            content: '';
            position: absolute;
            top: -10px;
            left: 20px;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 10px solid $grey--abbey;
        }
    }

    .valid-check {
        position: absolute;
        top: calc(25px - (19px / 2));
        right: 16px;
        color: $green--conifer;
    }
</style>
