<template>
    <a
        :href="url"
        :class="className"
        class="socialButton">
        <svgicon
            :icon="type"
            width="20"
            height="20"
        />
    </a>
</template>

<script>
    import '@/compiled-icons/facebook';
    import '@/compiled-icons/instagram';
    import '@/compiled-icons/twitter';

    export default {
        name: 'SocialButton',

        props: {
            type: {
                type: String,
                default: null,
            },
            url: {
                type: String,
                default: null,
            },
            className: {
                type: String,
                default: null,
            },
        },
    };
</script>

<style scoped lang="scss">
    .socialButton {
        color: #fff;
        transition: color 200ms ease-in-out;

        &:hover {
            color: $red--carnation;
        }
    }
</style>
