<template>
    <div class="textfield__container">
        <textarea
            v-validate="validation"
            v-model="model"
            :name="name"
            :placeholder="placeholder"
            class="textfield"
            data-vv-delay="300"
            data-vv-validate-on="blur"
        />

        <svgicon
            v-show="fields[name] && fields[name].dirty && fields[name].valid"
            class="valid-check"
            icon="check"
            width="24"
            height="19"
        />

        <transition name="fade">
            <div
                v-show="fields[name] && fields[name].dirty && errors.has(name)"
                class="error-message"
            >
                {{ errorMessage }}
            </div>
        </transition>
    </div>
</template>

<script>
    import '@/compiled-icons/check';

    export default {
        name: 'TextField',
        props: {
            name: {
                type: String,
                required: true,
            },
            placeholder: {
                type: String,
                required: true,
            },
            validation: {
                type: String,
                default: '',
                required: false,
            },
            errorMessage: {
                type: String,
                default: '',
                required: this.validation !== null,
            },
            value: {
                type: String,
                required: true,
            },
        },
        data() {
            return {
                model: this.value,
            };
        },
        watch: {
            model(newVal) {
                this.$emit('input', newVal);
            },
        },
    };
</script>

<style scoped lang="scss">
    .textfield__container {
        position: relative;
        width: 100%;
    }

    .textfield {
        display: block;
        border: none;
        background-color: #fff;
        padding: 10px 45px 10px 20px;
        color: $grey--gray;
        font-size: 18px;
        font-weight: 100;
        width: 100%;
        height: 120px;
        transition: color 200ms ease-in-out;

        &:hover,
        &:focus {
            color: #000;

            &::placeholder {
                color: #000;
            }
        }
    }

    .error-message {
        position: relative;
        display: flex;
        align-items: center;
        height: 40px;
        padding: 15px 20px;
        color: #fff;
        background-color: $grey--abbey;
        font-size: 15px;
        font-weight: 100;
        line-height: 1;

        &:before {
            content: '';
            position: absolute;
            top: -10px;
            left: 20px;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 10px solid $grey--abbey;
        }
    }

    .valid-check {
        position: absolute;
        top: calc(25px - (19px / 2));
        right: 16px;
        color: $green--conifer;
    }
</style>
