<template>
    <transition
        :css="false"
        appear
        @before-enter="beforeEnter"
        @enter="enter"
    >
        <div class="instagram-item">
            <img
                :src="item.image"
            >
            <div class="instagram-item__text">
                {{ item.caption }}

                <a
                    v-for="tag in item.tags"
                    :key="tag"
                    :href="tagUrl(tag)"
                    class="instagram-item__tag"
                    target="_blank"
                >
                    #{{ tag }}
                </a>
            </div>
        </div>
    </transition>
</template>

<script>
    import { TweenLite } from 'gsap';

    export default {
        name: 'InstagramItem',
        props: {
            item: {
                type: Object,
                default: null,
            },
            index: {
                type: Number,
                default: null,
            },
        },

        methods: {
            tagUrl(tag) {
                return `https://www.instagram.com/explore/tags/${tag}/`;
            },

            beforeEnter(el) {
                TweenLite.set(el, {
                    opacity: 0,
                    transform: 'translateY(7px)',
                });
            },

            enter(el, done) {
                const delay = (this.index * 150) / 1000;
                TweenLite.to(
                    el,
                    0.45,
                    {
                        opacity: 1, transform: 'translateY(0)', onComplete: done, delay,
                    },
                );
            },
        },
    };
</script>

<style scoped lang="scss">
    .instagram-item {
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;

        @include breakpoint('sm') {
            width: 50%;
        }

        @include breakpoint('md') {
            width: 33.333333%;
        }
    }

    .instagram-item__text {
        @include distances('xsmall', 'padding', 'top');
        @include distances('xsmall', 'padding', 'bottom');
        @include distances('xsmall', 'padding', 'right');
        @include distances('xsmall', 'padding', 'left');
        @include font-sizes('small');

        color: $grey--juniper;
        background: #fff;
    }

    .instagram-item__tag {
        color: $grey--juniper;
    }

</style>
