<template>
    <div class="notification">
        <div class="icon">
            <svgicon
                v-if="type === 'error'"
                icon="error"
                width="3"
                height="14"
            />
            <svgicon
                v-if="type === 'check'"
                icon="check"
                width="24"
                height="19"
            />
        </div>
        <slot />
    </div>
</template>

<script>
    import '@/compiled-icons/error';
    import '@/compiled-icons/check';

    export default {
        name: 'ErrorNotification',
        props: {
            type: {
                type: String,
                required: true,
            },
        },
    };
</script>

<style scoped lang="scss">
    .notification {
        background-color: rgba(#000, 0.2);
        padding: 15px 20px;
        color: #fff;
        font-weight: 300;
        position: relative;
        font-size: 18px;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .icon {
        width: 30px;
        min-width: 30px;
        height: 30px;
        background-color: rgba(#000, 0.2);
        border-radius: 50%;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
