<template>
    <div class="content-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content-wrapper">
                        <h2
                            v-if="title"
                            class="content__title">
                            {{ title }}
                        </h2>

                        <p
                            v-if="text"
                            class="content__text">
                            {{ text }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Content',
        props: {
            title: {
                default: null,
                type: String,
            },
            text: {
                default: null,
                type: String,
            },
        },
    };
</script>

<style scoped lang="scss">
    .content-container {
        @include distances('large', 'padding', 'top');
        @include distances('large', 'padding');

        background-color: #fff;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content__title {
        text-transform: uppercase;
    }

    .content__text {
        text-align: center;
    }
</style>
