<template>
    <div class="contact-form">
        <transition
            name="fade"
            mode="out-in"
        >
            <form v-if="!isSend">
                <transition name="fade">
                    <Notification
                        v-if="showError"
                        type="error"
                    >
                        Please complete the form and try again.
                    </Notification>
                </transition>

                <div class="form-container">
                    <div class="form-element">
                        <InputField
                            v-model="firstname"
                            name="firstname"
                            placeholder="First name"
                            validation="required"
                            error-message="We need your first name."
                        />
                    </div>
                    <div class="form-element">
                        <InputField
                            v-model="lastname"
                            name="lastname"
                            placeholder="Last name"
                            validation="required"
                            error-message="We need your last name."
                        />
                    </div>
                    <div class="form-element">
                        <InputField
                            v-model="email"
                            name="email"
                            placeholder="Your e-mail address"
                            validation="required|email"
                            error-message="Please use a valid e-mail address."
                        />
                    </div>
                    <div class="form-element">
                        <InputField
                            v-model="phone"
                            name="phone"
                            placeholder="Your phone number (optional)"
                            validation="numeric"
                            error-message="Please use a valid phone number."
                        />
                    </div>
                    <TextField
                        v-model="message"
                        name="message"
                        placeholder="Your message..."
                        validation="required"
                        error-message="Sorry, your message can't be empty."
                    />
                </div>
                <div class="contact-form__button-container">

                    <Button
                        :disabled="!isComplete"
                        color="red"
                        @click="validateAndSendForm"
                    >
                        Send
                    </Button>

                </div>
            </form>

            <Notification
                v-if="isSend"
                type="check"
            >
                Thank you, we have received your message.
            </Notification>
        </transition>
    </div>
</template>

<script>
    import Button from '@/components/atoms/Button';
    import InputField from '@/components/atoms/InputField';
    import TextField from '@/components/atoms/TextField';
    import Notification from '@/components/molecules/Notification';

    export default {
        name: 'ContactForm',
        components: {
            Button,
            Notification,
            InputField,
            TextField,
        },
        provide() {
            return {
                parentValidator: this.$validator,
            };
        },
        data() {
            return {
                firstname: '',
                lastname: '',
                email: '',
                phone: '',
                message: '',
                showError: false,
                isSend: false,
            };
        },
        computed: {
            isComplete() {
                return this.firstname
                    && this.lastname
                    && this.email
                    && this.message;
            },
        },
        methods: {
            validateAndSendForm() {
                this.$validator.validateAll().then((result) => {
                    this.showError = false;

                    if (result) {
                        // TODO: do axios call
                        // now we only go to the thank-you-page
                        this.isSend = true;
                    } else {
                        this.showError = true;
                    }
                });
            },
        },
    };
</script>

<style scoped lang="scss">
    .form-container {
        @include distances('small', 'margin');

        padding: 20px 10px;
        background-color: rgba(#fff, 0.2);

        display: flex;
        flex-wrap: wrap;
    }

    .form-element {
        flex: 1 1 100%;
        margin-bottom: 10px;

        @include breakpoint('sm') {
            flex-basis: calc(50% - 5px);

            &:nth-child(odd) {
                margin-right: 5px;
            }

            &:nth-child(even) {
                margin-left: 5px;
            }
        }
    }

    .contact-form__button-container {
        display: flex;
        justify-content: center;
    }
</style>
