<template>
    <div class="footer">
        <div class="footer__icons">
            <SocialButton
                class-name="footer__icon"
                type="facebook"
                url="http://www.facebook.com/tamtamnl" />
            <SocialButton
                class-name="footer__icon"
                type="twitter"
                url="http://www.twitter.com/tamtamnl" />
            <SocialButton
                class-name="footer__icon"
                type="instagram"
                url="http://www.instagram.com/tamtamnl" />
        </div>
    </div>
</template>

<script>
    import SocialButton from '@/components/atoms/SocialButton';

    export default {
        name: 'Footer',
        components: { SocialButton },
    };
</script>

<style scoped lang="scss">
    .footer {
        padding: 30px;
        background-color: #000;

        display: flex;
        justify-content: center;
    }

    .footer__icon {
        margin: 0 16px;
    }
</style>
