<template>
    <div class="instagram-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title-container">
                        <h3 class="title">Follow us on instagram</h3>
                        <a
                            href="https://www.instagram.com/tamtamnl"
                            class="link"
                            target="_blank">@tamtamnl</a>
                    </div>
                </div>
            </div>
            <div
                v-if="loaded"
                class="row"
            >
                <div class="col-12">
                    <div class="instagram__items">
                        <InstagramItem
                            v-for="(item, index) in items"
                            :key="item.id"
                            :item="item"
                            :index="index"
                        />
                    </div>
                </div>
            </div>
            <div
                v-else
                class="row"
            >
                <div class="col-12">
                    <div class="loader-container">
                        <Loader />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import InstagramItem from '@/components/molecules/InstagramItem';
    import Loader from '@/components/organisms/Loader';
    import { DelayedCallMixin } from '../mixins';

    export default {
        name: 'InstagramFeed',

        components: {
            InstagramItem,
            Loader,
        },

        mixins: [
            DelayedCallMixin,
        ],

        data() {
            return {
                feedUrl: 'https://api.instagram.com/v1/users/self/media/recent',
                items: [],
                accessToken: '893165.97802da.3e72960192c0421b9f678d09ee012fae',
            };
        },

        methods: {
            handleResponse(response) {
                this.items = Array.from(response.data.data)
                    .map((item) => {
                        return {
                            id: item.id,
                            image: item.images.standard_resolution.url,
                            caption: item.caption.text,
                            created: item.created_time,
                            tags: item.tags,
                            link: item.link,
                        };
                    })
                    .sort((a, b) => a.created - b.created);
            },

            loadData() {
                return axios.get(this.feedUrl, {
                    params: {
                        access_token: this.accessToken,
                    },
                }).then(this.handleResponse.bind(this));
            },
        },
    };
</script>

<style scoped lang="scss">
    .instagram-container {
        @include distances('large', 'padding', 'top');

        background: url('/static/img/instagram-bg.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .title-container {
        @include distances('medium');

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title {
        @include distances('small');

        text-transform: uppercase;
        color: $grey--juniper;
    }

    .link {
        @include font-sizes('h3');

        line-height: 1;
        color: #fff;
        font-weight: 100;
    }

    .loader-container {
        height: 300px;
    }

    .instagram__items {
        display: flex;
        flex-wrap: wrap;

        margin-left: -10px;
        margin-right: -10px;
    }
</style>
