<template>
    <div class="loader-container">
        <div
            :style="backgroundStyling"
            class="loader"
        >
            <transition name="fade">
                <svgicon
                    :style="svgStyling"
                    class="loader__animation"
                    icon="logo"
                    width="32"
                    height="32"
                />
            </transition>
        </div>
    </div>
</template>

<script>
    import '@/compiled-icons/logo';

    export default {
        name: 'Loader',

        props: {
            color: {
                type: String,
                default: 'fff',
            },
            backgroundColor: {
                type: String,
                default: null,
            },
        },

        computed: {
            svgStyling() {
                return `color: #${this.color}`;
            },

            backgroundStyling() {
                return (this.backgroundColor) ? `background-color: #${this.backgroundColor}` : '';
            },
        },
    };
</script>

<style scoped lang="scss">
    .loader-container {
        position: relative;
    }

    .loader {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .loader__animation {
        animation: diagonal;
        animation-direction: normal;
        animation-duration: 1700ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
    }

    @keyframes diagonal {

        10% {
            opacity: 1;
        }

        30% {
            transform: translate3d(20px, -20px, 0);
            opacity: 0;
        }

        31% {
            transform: translate3d(-20px, 20px, 0);
            opacity: 0;
        }

        45% {
            opacity: 1;
        }

        60% {
            transform: translate3d(0, 0, 0);
        }

        100% {
            transform: translate3d(0, 0, 0);
        }
    }
</style>
