<template>
    <div
        :class="{'is-open': showNavigation}"
        class="navigation__container"
    >
        <div class="navigation">
            <div
                class="svg-link"
                @click="openMenu"
            >
                <svgicon
                    class="open-mobile-menu"
                    icon="menu"
                    width="24"
                    height="22"
                    color="#ffffff"/>
            </div>

            <div
                class="svg-link"
                @click="closeMenu"
            >
                <svgicon
                    class="close-mobile-menu"
                    icon="cross"
                    width="24"
                    height="24"
                    color="#ffffff"/>
            </div>

            <div class="logo-wrapper">
                <div
                    class="svg-link"
                    @click="gotoHome"
                >
                    <svgicon
                        class="logo"
                        icon="logo"
                        width="32"
                        color="#ffffff"
                    />
                </div>
            </div>
        </div>
        <div class="navigation__items">
            <router-link
                v-for="link in links"
                :to="{name: link.name}"
                :key="link.name"
                :class="{'navigation__item--active': $route.name === link.name}"
                class="navigation__item"
            >
                {{ link.title }}
            </router-link>
        </div>
    </div>
</template>

<script>
    import '@/compiled-icons/menu';
    import '@/compiled-icons/cross';
    import '@/compiled-icons/logo';

    export default {
        name: 'Navigation',
        props: {
            links: {
                type: Array,
                default: () => [],
            },
        },
        data() {
            return {
                showNavigation: false,
            };
        },
        watch: {
            $route() {
                this.closeMenu();
            },
        },
        methods: {
            gotoHome() {
                this.$router.push({ name: 'home' });
            },
            openMenu() {
                this.showNavigation = true;

                document.querySelector('body').classList.add('navigation-open');
            },
            closeMenu() {
                this.showNavigation = false;

                document.querySelector('body').classList.remove('navigation-open');
            },
        },
    };
</script>

<style scoped lang="scss">
    .navigation__container {
        position: relative;
    }

    .navigation {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        background-color: #000;
        height: $navigation_mobile-height;
        align-items: center;
        padding: 0 30px;
        z-index: 10;

        @include breakpoint('sm') {
            height: $navigation_height;
        }
    }

    .navigation__items {
        @include breakpoint(0, 'sm') {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: -100vh;
            left: 0;
            right: 0;
            bottom: 0;
            padding-top: 45px;
            border-top: 2px solid #fff;
            background-color: #000;
            transition: top 300ms ease-in-out;
            z-index: 5;

            .is-open & {
                top: $navigation_mobile-height;
            }
        }

        @include breakpoint('sm') {
            position: fixed;
            top: 0;
            left: 100px;
            height: $navigation_height;
            display: flex;
            align-items: center;

            z-index: 15;
        }
    }

    .navigation__item {
        @include font-sizes('navigation');

        color: $grey--gray;
        text-decoration: none;
        margin: 0 20px;
        transition: color 150ms ease-in-out;

        &:hover {
            color: $red--carnation;
        }

        @include breakpoint(0, 'sm') {
            font-weight: 900;
            line-height: 1;
            margin-bottom: 50px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .navigation__item--active {
        color: #fff;
    }

    .logo-wrapper {
        @include breakpoint(0, 'sm') {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: none;
        }
    }

    .logo {
        @include breakpoint(0, 'sm') {
            height: 22px;
        }

        @include breakpoint('sm') {
            margin-right: 20px;
            height: 32px;
        }
    }

    .open-mobile-menu {
        .is-open & {
            display: none;
        }

        @include breakpoint('sm') {
            display: none;
        }
    }

    .close-mobile-menu {
        display: none;

        .is-open & {
            display: block;

            @include breakpoint('sm') {
                display: none;
            }
        }

        @include breakpoint('sm') {
            display: none;
        }
    }

    .svg-link {
        display: block;
        cursor: pointer;
        pointer-events: auto;
    }
</style>
