<template>
    <div class="slider">
        <transition name="fade">
            <div v-if="loaded">
                <div class="swiper-container  js-swiper-container">
                    <div class="swiper-wrapper">
                        <div
                            v-for="item in items"
                            :key="item.slug"
                            class="swiper-slide  js-slider-item"
                        >
                            <img
                                :src="'/static/img/' + item.image"
                                class="slider__image">
                        </div>
                    </div>
                </div>

                <div class="slider__overlay">
                    <transition
                        name="title-transition"
                        appear
                        mode="out-in"
                    >
                        <h1
                            :key="currentProject.slug"
                            class="slider__title  h1"
                        >
                            {{ projectTitle }}
                        </h1>
                    </transition>
                    <div class="slider__navigation">
                        <ArrowButton
                            :flipped="true"
                            @click="slideToPrev"
                        />
                        <Button
                            color="black"
                            @click="openCase">
                            View case
                        </Button>
                        <ArrowButton
                            @click="slideToNext"
                        />
                    </div>
                </div>
            </div>
        </transition>
        <div
            v-if="!loaded"
            class="loader-container"
        >
            <Loader color="000" />
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import ArrowButton from '@/components/atoms/ArrowButton';
    import Button from '@/components/atoms/Button';
    import Loader from '@/components/organisms/Loader';
    import Swiper from 'swiper/dist/js/swiper';
    import { DelayedCallMixin } from '../mixins';


    export default {
        name: 'Slider',

        components: {
            ArrowButton,
            Button,
            Loader,
        },

        mixins: [
            DelayedCallMixin,
        ],

        data() {
            return {
                items: [],
                swiper: null,
                currentIndex: 0,
            };
        },

        computed: {
            currentProject() {
                if (this.loaded === true) {
                    return this.items[this.currentIndex];
                }
                return null;
            },

            projectTitle() {
                if (this.loaded === true) {
                    return this.currentProject.title;
                }
                return null;
            },
        },

        methods: {
            loadData() {
                return axios.get('/static/projects.json').then(this.handleResponse.bind(this));
            },

            handleResponse(response) {
                this.items = response.data.projects;
            },

            dataLoaded() {
                this.loaded = true;

                setTimeout(this.initSwiper.bind(this), 1);
            },

            initSwiper() {
                this.swiper = new Swiper('.js-swiper-container', {
                    speed: 600,
                    loop: true,
                    slidesPerView: 1,
                    centeredSlides: true,
                    slideClass: 'js-slider-item',
                });

                this.swiper.on('slideNextTransitionStart', this.slideNextTransitionStart.bind(this));
                this.swiper.on('slidePrevTransitionStart', this.slidePrevTransitionStart.bind(this));
            },

            slideToNext() {
                this.swiper.slideNext();
            },

            slideNextTransitionStart() {
                this.currentIndex = this.currentIndex + 1;

                if (this.currentIndex > this.items.length - 1) {
                    this.currentIndex = 0;
                }
            },

            slideToPrev() {
                this.swiper.slidePrev();
            },

            slidePrevTransitionStart() {
                this.currentIndex = this.currentIndex - 1;

                if (this.currentIndex < 0) {
                    this.currentIndex = this.items.length - 1;
                }
            },

            openCase() {
                window.console.log('Open case');
            },
        },
    };
</script>

<style scoped lang="scss">
    .slider {
        position: relative;

        &::before {
            background: linear-gradient(to bottom, rgba($grey--mercury, 0) 0%, $grey--mercury 100%);
            bottom: 0;
            content: "";
            height: 50%;
            left: 0;
            position: absolute;
            opacity: 0.3;
            right: 0;
            width: 100%;
        }
    }

    .slider__image {
        width: 100%;
        height: calc(100vh - #{$navigation_mobile-height});
        object-fit: cover;
        display: block;

        @include breakpoint('sm') {
            height: calc(100vh - #{$navigation_height});
        }
    }

    .slider__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        pointer-events: none;
    }

    .slider__navigation {
        pointer-events: auto;
    }

    .slider__title {
        @include distances('small');

        text-transform: uppercase;
    }

    //Swiper styling (copied from swiper.css)
    .swiper-container {
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        /* Fix of Webkit flickering */
        z-index: 1;
    }

    .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: -webkit-transform;
    }

    .swiper-slide {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
    }

    .loader-container {
        height: calc(100vh - #{$navigation_mobile-height});

        @include breakpoint(0, 'sm') {
            height: calc(100vh - #{$navigation_height});
        }
    }

    .title-transition-leave-active {
        transition: all 250ms ease-in;
    }

    .title-transition-enter-active {
        transition: all 300ms ease-out;
    }

    .title-transition-enter {
        transform: translateY(30px);
        opacity: 0;
    }

    .title-transition-leave-to {
        transform: translateY(-30px);
        opacity: 0;
    }
</style>
