<template>
    <div id="app">
        <Navigation :links="links"/>

        <Loader
            v-if="loading"
            background-color="000" />

        <transition
            name="page"
            mode="out-in"
        >
            <router-view v-if="!loading"/>
        </transition>

        <Footer />
    </div>
</template>

<script>
    import Footer from '@/components/organisms/Footer';
    import Loader from '@/components/organisms/Loader';
    import Navigation from '@/components/organisms/Navigation';

    export default {
        name: 'App',
        components: {
            Footer,
            Loader,
            Navigation,
        },
        data() {
            return {
                links: [
                    {
                        name: 'home',
                        title: 'Home',
                    },
                    {
                        name: 'people',
                        title: 'People',
                    },
                    {
                        name: 'contact',
                        title: 'Contact',
                    },
                ],
                loading: false,
            };
        },
    };
</script>

<style scoped>
    .page-enter-active, .page-leave-active {
      transition: opacity 300ms, transform 450ms;
    }
    .page-enter, .page-leave-to {
      opacity: 0;
      transform: translateY(-30px);
    }
</style>
